<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./dados-principais.component.css" />
    <title>Meu Perfil</title>
  </head>
  <body>
    
    <div class="background">
      <header>
          <div class="logo">
             <!-- <i class="fa-regular fa-e"></i> -->
          </div><!--logo-->

          <div class="cabeçalho-link">
           
              <li>
                  <a href="#">Sobre</a>
              </li>

              <li>
                  <a href="#">Serviços</a>
              </li>

              <li>
                  <a href="#">Trabalho</a>
              </li>
              <button>Meu Contato</button>
          </div><!--cabeçalho-link-->
      </header>
      
      <div class="container-text">
          <div class="text">
            <img 
            src="./assets/Minhafoto.png" 
            alt="Foto de Perfil" 
            style="float:right;
            top: 40;
            width:340px "/>
              <h3>Ola, Pessoal</h3>
              <h1>Eu sou <span>Tiago Oliveira </span></h1>

              <p>Trabalho como analista de suporte em uma cooperativa medica<br> estou no 5 periodo de Eng. de Software</p>

              <h3>Experiencia</h3>

              <h3>Trabalhei por 5 anos na parte de infraestrutura e manutenção de computadores.</h3>

              <div class="redes-social">
                  <a href="#"><i class="fa-brands fa-facebook"></i></a>
                  <a href="#"><i class="fa-brands fa-twitter"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                  <a href="#"><i class="fa-brands fa-behance"></i></a>
              </div><!--redes-social-->
              <button class="btn">Sobre Mim</button>
          </div><!--text-->
      </div><!--container-text-->
  </div><!--background-->
  </body>
</html>
